@import '../../styles/index.scss';

.activity {
    width: auto;
    height: 260px;
    background: $grey-color;
    padding: 26px 26px 26px 32px;
    margin-bottom: 28px;
    animation: slide-from-top 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: relative;
    top: 0;
    @include breakpoint-very-large {
        margin-bottom: 60px;
        width: auto;
    }
    @include breakpoint-very-large {
        margin-bottom: 28px;
        width: 57vw;
    }
    &__header {
        display: flex;
        font-size: 15px;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__header-legend {
        color: $light-grey;
        column-gap: 32px;
        display: flex;
    }
    &__header-legend-container {
        display: flex;
        column-gap: 12px;
        align-items: center;
    }
    &__header-grey-circle {
        background: $dark-grey;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
    &__header-red-circle {
        background: #E60000;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
}

.custom-tooltip {
    background: #E60000;
    color: white;
    font-size: 7px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 10px;
    margin-left: 3.75vw;
    margin-right: 3.75vw;
}

@keyframes slide-from-top {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }