body {
    font-family: 'Roboto', sans-serif;
}

.recharts-polar-angle-axis-tick tspan {
    alignment-baseline: central;
}

// Add delay to each item
@for $i from 1 through 4 {
    .main__flex-container-sidebar > .main__sidebar-item:nth-child(#{$i}) {
        animation-delay: #{$i * 0.25}s;
    }
}

.show-nav {
    right: 0 !important;
}